body{
    background:#303030;
  }
  
  h1{
    text-align:center;
    margin-bottom:5px;
    color: #9c9c9c;
  }
  
  p.info{
    text-align:center;
    margin:0 auto;
    font-size:16px;
    font-weight:bold;
    color:#d8d8d8;
    margin-bottom:20px;
  }
  
  #game-base{
    width:640px;  
    margin:0 auto;
    padding-top:60px;
    padding: 30px;
  }
  
  #game-table{
    width:434px;
    height:374px;
    margin:0 auto;
    background:url("base.png") 0 0 no-repeat;
    position:relative;
  }
  
  .disc{
    position:absolute;
    z-index:-1;
    top:-55px;
    left:14px;
    width:46px;
    height:46px;
    border-radius:46px;
    transition:all .3s;
  }
  
  .disc.red{
    background:#d96666;
  }
  
  .disc.yellow{
    background:#ffeb79;
  }
  .info{
    margin-bottom: 35px !important;
  }
  a{
    color: #d8d8d8 !important;
    font-weight: bold;
  }


  body,html{
    width:100%;
    height: 100%;
  }
  body{
    margin:0;
    padding:0;
  }
  .bubbles{
    position:absolute;
    width:100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
    top:0;
    left:0;
  }
  .bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background:#f1f1f118;
    border-radius:50%;
    opacity:0.5;
    animation: rise 10s infinite ease-in;
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:20s;
  }
  .bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }