*{
    padding: 0;
    margin: 0;
    text-align: center;
}
body{   
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    -webkit-box-shadow: inset -4px 2px 114px -14px rgba(0,0,0,0.61);
    -moz-box-shadow: inset -4px 2px 114px -14px rgba(0,0,0,0.61);
    box-shadow: inset -4px 2px 114px -14px rgba(0,0,0,0.61);
    overflow-x: hidden;
    margin: auto;
    font-family: 'Russo One', sans-serif;
    font-family: 'Montserrat';
    color: #ff9aad;
    background-color:rgb(0,40,50);
}
.avoid-clicks{
    pointer-events: none;
}
img{
    margin-top:5%;
    width: 25vw;
}
#game-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#game-board{
    width:100%;
}
#scores{
    position: absolute;
    font-size: 1.5vw;
    top: 5%;
    right:5%;
}
#scoreP1{
    color: #ff9aad;;
}
#scoreP2{
    color: #ff9aad;;
} 

a{
  text-decoration:none;  
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width:80%;
    margin: 5% auto;
    list-style: none;
    border-radius:30px;
    background: #292929;
    padding:20px;
}
li{
    width: 4vw;
    font-size:4vw;
    color: #ff9aad;
    padding: 2vw 3vw;
}
li:hover{
    color: white;
    font-weight: bolder;
}
#row1{
    display: flex;
    flex-direction:row;
}
#row2{
    display: flex;
    flex-direction:row;
}

#row3{
    display: flex;
    flex-direction:row;
}

#reset-button,#next-button{
    box-shadow: 2px 2px 10px black;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-family: 'Montserrat';
    color: #ff9aad;
    background-color: rgba(255,255,255,0);
    font-size: 2vw;
    padding: 1vw 5vw 1vw 5vw;
    margin: 20px;
    border:double #ff9aad 10px; 
    border-radius:1vw;
    transition: .5s;
    transition-property: color,border;
}

#reset-button:hover{
    color: white;
    border-color: white;
}

#next-button:hover{
    color: white;
    border-color: white;
}

footer svg{
  padding:10px;
}

footer{
    padding-top: 50px;
    padding-bottom: 30px;
    align-items: center;
}

@media(max-width:900px){
    li{
        width: 7vw;
        height: 5vw;
        font-size:4vw;
        padding: 4vw;
    }
    #reset-button,#next-button{
        font-size: 4vw;
        border-radius:2vw;
    }
    
}

@media(max-width:768px){
    header img{
        margin-top:10%;
        width: 50vw;
    }
  
    #scores{
        position: static;
        width:100%;
        font-size:3vw;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;
        padding: 20px 0;
    }
    
    #scores div{
        width:70%;
        align-items:center;
        justify-content:space-around;
        display:flex;
        flex-direction: row;
    }
}

@media(max-width:500px){
    li{
        width: 8vw;
        height: 6vw;
        font-size:5vw;
        padding: 5vw;
    }
    
}