body{
    background-color: #343a40;
    color: #ffffff;
  }
  
  h1{
    text-align:center;
    margin-bottom:5px;
    color: #cccccc;
  }
  
  p.info{
    text-align:center;
    margin:0 auto;
    font-size:16px;
    font-weight:bold;
    color:#d8d8d8;
    margin-bottom:20px;
  }
  
  #game-base{
    width:640px;  
    margin:0 auto;
    padding-top:60px;
    padding: 30px;
  }
  
  #game-table{
    width:434px;
    height:374px;
    margin:0 auto;
    background:url("../img/base.png") 0 0 no-repeat;
    position:relative;
  }
  
  .disc{
    position:absolute;
    z-index:-1;
    top:-55px;
    left:14px;
    width:46px;
    height:46px;
    border-radius:46px;
    transition:all .3s;
  }
  
  .disc.red{
    background:#d96666;
  }
  
  .disc.yellow{
    background:#ffeb79;
  }
  .info{
    margin-bottom: 35px !important;
  }
  a{
    color: #d8d8d8 !important;
    font-weight: bold;
  }


  body,html{
    width:100%;
    height: 100%;
  }
  body{
    margin:0;
    padding:0;
  }
  .bubbles{
    position:absolute;
    width:100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
    top:0;
    left:0;
  }
  .bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background:#f1f1f118;
    border-radius:50%;
    opacity:0.5;
    animation: rise 10s infinite ease-in;
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:20s;
  }
  .bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }

  .last-move {
    border: 1px solid green !important;
  }


  .custom-button {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer !important;
    transition: background-color 0.3s ease;

}
.custom-button:hover {
    background-color: #218838;
}


/* homepage  */
body {
  background-color: #343a40;
  color: #ffffff;
}

.container {
  background-color: #495057;
  padding: 20px;
  border-radius: 10px;
}

.form-control {
  background-color: #6c757d;
  color: #ffffff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.slow-fade-in {
  animation: slow-fade 2s ease-in-out;
}

@keyframes slow-fade {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.img-responsive {
  width: 400px;
}



/* play  */
aside {
	width: 200px;
	max-width: 200px;
	position: absolute;
	bottom: 100px;
	right: 0;
	background-color: #957af7;
	padding: 2px 20px;
	box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
	z-index: 9999 !important;
	max-height: 500px !important;
	overflow-y: auto;
	border-radius: 5px 0 0 5px;
}

.winner-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #b5a1fd;
  padding: 10px;
}
._game-image{
  width: 100% !important;
}
.game-anchor:hover{
  /* border: 1px solid #009b90 !important; */
  display: block;
}

img {
  --g: 4px;     /* the gap */
  --b: 12px;    /* border thickness*/
  --c: #03ffee; /* the color */
  
  
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: .3s;
}
img:hover {
  --_p: 75%;
  filter: grayscale(0%);
}














/* game title  */
 
 

h1 span {
  font-size: 10rem;
  font-family: 'Bad Script', cursive;
  color: #111;
  animation: glowing 2s linear infinite;
}

@keyframes glowing {
  0%, 100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff,
                 0 0 20px #00b3ff,
                 0 0 40px #00b3ff,
                 0 0 80px #00b3ff,
                 0 0 120px #00b3ff,
                 0 0 200px #00b3ff,
                 0 0 300px #00b3ff,
                 0 0 400px #00b3ff;
  } 5%, 95% {
    color: #111;
    text-shadow: none;
    filter: blur(0px);
  }
}

h1 span:nth-child(1){
  animation-delay: 0s;
}

h1 span:nth-child(2){
  animation-delay: .25s;
}

h1 span:nth-child(3){
  animation-delay: .5s;
}

h1 span:nth-child(4){
  animation-delay: .75s;
}

h1 span:nth-child(5){
  animation-delay: 1s;
}

h1 span:nth-child(6){
  animation-delay: 1.25s;
}

h1 span:nth-child(7){
  animation-delay: 1.5s;
}

h1 span:nth-child(8){
  animation-delay: 1.75s;
}
 

/* game title  */